<%- model_class = Sensor -%>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to '<svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>'.html_safe, sensors_path%></li>
        <li class="active"> <svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Add Sensor </li>
      </ol>
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Add New Sensor</h1>
      </div>
    </div><!--/.row-->


    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Add new sensor to your account</div>
          <br>
            <%= render :partial => 'form' %>
            <br>
        </div>
      </div>
    </div><!--/.row-->
  </div>  <!--/.main-->
